nav {
  width: 100vw;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #034C8C;
  z-index: 10;

  p {
    color: #D9D9D9;
    font-size: 3rem;
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
  }
}